.row {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}
[class^="col-"] {
    padding: 0 10px;
}
.col-xs {
    &-50 {
        width: 50%;
    }

    &-100 {
        width: 100%;
    }
}
.offset-xs {
    &-50 {
        margin-left: 50%;
    }
}
@media (min-width: 768px) {
    .col-sm {
        &-25 {
            width: 25%;
        }

        &-50 {
            width: 50%;
        }
    }

    .offset-sm {
        &-50 {
            margin-left: 50%;
        }

        &-75 {
            margin-left: 75%;
        }
    }
}
@media (min-width: 992px) {
    .col-md {
        &-25 {
            width: 25%;
        }

        &-50 {
            width: 50%;
        }
    }
    .offset-md {
        &-50 {
            margin-left: 50%;
        }

        &-75 {
            margin-left: 75%;
        }
    }
}

@media (min-width: 1200px) {
    .col-lg {
        &-50 {
            width: 50%;
        }
    }
}
